<h1>Edit {{course.name}}</h1>

<form action="/courses/edit" method="post">
    <div class="input-field">
        <input id="title" name="name" type="text" class="validate" required value="{{course.name}}">
        <label for="title">Course Name</label>
        <span class="helper-text" data-error="Enter Name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="5" value="{{course.price}}">
        <label for="price">Course Price</label>
        <span class="helper-text" data-error="Enter Price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="image" type="text" class="validate" required value="{{course.image}}">
        <label for="img">Image URL</label>
        <span class="helper-text" data-error="Enter Image URL"></span>
    </div>

    <input type="hidden" name="id" value="{{course.id}}">

    <button class="btn btn-primary">Edit Course</button>
</form>