<h1>Edit {{course.name}}</h1>

<form action="/courses/edit" method="post" class="course-form">
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{course._doc.title}}">
        <label for="title">Course Name</label>
        <span class="helper-text" data-error="Enter Name"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="5" value="{{course._doc.price}}">
        <label for="price">Course Price</label>
        <span class="helper-text" data-error="Enter Price"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{course._doc.img}}">
        <label for="img">Image URL</label>
        <span class="helper-text" data-error="Enter Image URL"></span>
    </div>

    <input type="hidden" name="id" value="{{course._doc._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Edit Course</button>
</form>

<form action="/courses/remove" method="post">
    <input type="hidden" name="id" value="{{course._doc._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn red">Remove course</button>
</form>